# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info
dist/
build/
*.egg-info/
*.eggs

# Virtual environment
venv/

# IDEs
# PyCharm
.idea/
# VSCode
.vscode/

# OS-specific
# macOS
.DS_Store
# Windows
Thumbs.db
Desktop.ini

# Other
*.log
db.sqlite3
*.sqlite
